:root {
    --BackgroundColor: #fff;
    --ButtonColor: #181818;
    --TextColor: #fff;
}

body {
    background: var(--BackgroundColor);
}

#buttons {
    text-align: center;
    opacity: 1;
}

#rnd,
#btn {
    background-color: var(--ButtonColor);
    color: var(--TextColor);
    background: #181818;
    margin-top: 45%;
    width: 30%;
    height: 40px;
    border-radius: 25em;
    border: none;
}

#btn {
    margin: 5px;
}

#rnd:hover,
#btn:hover {
    cursor: pointer;
    animation: hover 0.5s forwards;
}

@keyframes hover {
    100% {opacity: 0.8;}
}
